[Service]
# Unset the original ExecStart instruction shipped by Debian native
ExecStart=
# Delegate all flag processing directly to daemon.json for seamless TLS configurations!
ExecStart=/usr/bin/dockerd
